In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

df = pd.read_csv("kadai.csv")

display(df.head(10))

,now_month,customer_id,count_pred,count_0,count_1,count_2,count_3,count_4,count_5,start_date,now_date,period
0,201810,AS185951,1,5,3,3,7,3,10,2018/4/9,2018/10/1,5
1,201810,AS197200,12,6,8,9,6,8,8,2018/4/15,2018/10/1,5
2,201810,AS200286,3,6,3,6,6,7,10,2018/4/6,2018/10/1,5
3,201810,AS251169,2,4,6,5,8,10,7,2018/4/3,2018/10/1,5
4,201810,AS345469,1,3,5,6,5,4,7,2018/4/12,2018/10/1,5
5,201810,AS501123,3,4,5,5,8,7,7,2018/4/1,2018/10/1,6
6,201810,AS509237,3,2,1,2,4,8,9,2018/4/6,2018/10/1,5
7,201810,AS546422,1,5,7,4,10,8,8,2018/4/10,2018/10/1,5
8,201810,AS628722,3,5,4,6,4,7,9,2018/4/15,2018/10/1,5
9,201810,AS639549,4,2,2,3,5,9,8,2018/4/15,2018/10/1,5

In [2]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model

X = df[["count_0", "count_1", "count_2", "count_3", "count_4", "count_5", "period"]]
y = df['count_pred']

In [3]:
display(X.head(10))

   count_0  count_1  count_2  count_3  count_4  count_5  period
0        5        3        3        7        3       10       5
1        6        8        9        6        8        8       5
2        6        3        6        6        7       10       5
3        4        6        5        8       10        7       5
4        3        5        6        5        4        7       5
5        4        5        5        8        7        7       6
6        2        1        2        4        8        9       5
7        5        7        4       10        8        8       5
8        5        4        6        4        7        9       5
9        2        2        3        5        9        8       5

In [4]:
display(y[:10])

0     1
1    12
2     3
3     2
4     1
5     3
6     3
7     1
8     3
9     4
Name: count_pred, dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

lr = linear_model.LinearRegression()
lr.fit(X_train, y_train)

y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [6]:
print("Training set score: ", lr.score(X_train, y_train))

print("Test set score: ", lr.score(X_test, y_test))

Training set score:  0.6111525903215709
Test set score:  0.5964633323568844

In [8]:
# RMSE と R^2による評価
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

print('RMSE train: %.3f, test: %.3f' % (
        np.sqrt(mean_squared_error(y_train, y_train_pred)),
        np.sqrt(mean_squared_error(y_test, y_test_pred)))
     )

R^2 train: 0.611, test: 0.596
RMSE train: 1.657, test: 1.705

In [9]:
significant = pd.DataFrame({"features":X.columns, "coefficient":lr.coef_})
display(significant)

   coefficient features
0     0.359133  count_0
1     0.181937  count_1
2     0.151177  count_2
3     0.184593  count_3
4     0.076946  count_4
5     0.058731  count_5
6     0.047007   period

In [17]:
# Ridge
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=10).fit(X_train, y_train)
print("X_train score: {:.2f}".format(ridge.score(X_train, y_train)))
print("X_test score: {:.2f}".format(ridge.score(X_test, y_test)))

y_train_pred = ridge.predict(X_train)
y_test_pred = ridge.predict(X_test)

X_train score: 0.61
X_test score: 0.60

In [18]:
# RMSE と R^2による評価
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

print('RMSE train: %.3f, test: %.3f' % (
        np.sqrt(mean_squared_error(y_train, y_train_pred)),
        np.sqrt(mean_squared_error(y_test, y_test_pred)))
     )

R^2 train: 0.611, test: 0.596
RMSE train: 1.657, test: 1.705

In [19]:
# lasso(デフォルト)
from sklearn.linear_model import Lasso
import numpy as np

lasso = Lasso().fit(X_train, y_train)
print("Training set score: {:.2f}".format(lasso.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso.coef_ != 0)))

y_train_pred = lasso.predict(X_train)
y_test_pred = lasso.predict(X_test)

Training set score: 0.58
Test set score: 0.56
Number of features used: 4

In [20]:
# RMSE と R^2による評価
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

print('RMSE train: %.3f, test: %.3f' % (
        np.sqrt(mean_squared_error(y_train, y_train_pred)),
        np.sqrt(mean_squared_error(y_test, y_test_pred)))
     )

R^2 train: 0.577, test: 0.558
RMSE train: 1.729, test: 1.785

In [23]:
# lasso(制約を 1/2 にしたもの)
lasso05 = Lasso(alpha=0.5, max_iter=100000).fit(X_train, y_train)
print("Training set score: {:.2f}".format(lasso01.score(X_train, y_train)))
print("Test set score: {:.2f}".format(lasso01.score(X_test, y_test)))
print("Number of features used: {}".format(np.sum(lasso01.coef_ != 0)))

y_train_pred = lasso05.predict(X_train)
y_test_pred = lasso05.predict(X_test)

Training set score: 0.60
Test set score: 0.58
Number of features used: 5

In [24]:
# RMSE と R^2による評価
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

print('RMSE train: %.3f, test: %.3f' % (
        np.sqrt(mean_squared_error(y_train, y_train_pred)),
        np.sqrt(mean_squared_error(y_test, y_test_pred)))
     )

R^2 train: 0.600, test: 0.581
RMSE train: 1.681, test: 1.737

In [25]:
significant = pd.DataFrame({"features":X.columns, "coefficient":lasso05.coef_})
display(significant)

   coefficient features
0     0.348724  count_0
1     0.177773  count_1
2     0.141358  count_2
3     0.163484  count_3
4     0.007962  count_4
5     0.000000  count_5
6     0.000000   period